@using Kvdemy.Core.Enums
@model CreateSliderDto

@{
    ViewData["Title"] = "اضافة اعلان جديد";
    Layout = null;
}

        <form asp-action="Create" class="ajaxForm" tname="#kt_datatable" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Url" class="control-label"></label>
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select id="typeSelect" asp-for="Type" class="form-control">
                        <option value="@SliderType.External">خارجي</option>
                        <option value="@SliderType.Internal">داخلي</option>
                        </select>
                    </div>
                </div>
                <div id="internalIdField" class="col-md-4" style="display: none;">
                    <div class="form-group">
                        <label asp-for="InternalId" class="control-label"></label>
                        <input asp-for="InternalId" class="form-control" />
                        <span asp-validation-for="InternalId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
           
            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
                <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
            </div>
        </form>


<script>
    PageLoadActions();

    document.getElementById('typeSelect').addEventListener('change', function () {
        var selectedValue = this.value;
        var internalIdField = document.getElementById('internalIdField');

        if (selectedValue === '@SliderType.Internal') {
            internalIdField.style.display = 'block';
        } else {
            internalIdField.style.display = 'none';
        }
    });

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>