@model SettingsViewModel
@{
    ViewData["Title"] = "سياسة الخصوصية";
}

<!-- BEGIN ckeditor5-->
<script src="~/ckeditor5-build-classic/ckeditor.js"></script>
<!-- END ckeditor5-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu 2-columns fixed-navbar  menu-expanded pace-done" data-open="click" data-menu="vertical-menu" data-col="2-columns">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section class="application">
                    <form asp-action="Privacy" class="ajaxForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="container">
                            <!-- Basic CKEditor start -->
                            <section id="basic">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h1 class="card-title">سياسة الخصوصية</h1>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea asp-for="Privacy" id="ckeditor" cols="30" rows="15" class="ckeditor" style="visibility: visible; display: block;">@Model.About</textarea>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <input type="submit" value="اضافة" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                    </form>

                    <!-- Basic CKEditor end -->
            </div>
            </section>

        </div>
    </div>
    </div>

</body>
<!-- END: Body-->


<script>
    ClassicEditor
        .create(document.querySelector('#ckeditor'))
        .catch(error => {
            console.error(error);
        });
</script>

